/* Сброс стилей для всех элементов на странице */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Определение основного стиля для всего тела страницы */
body {
    font-family: Arial, sans-serif; /* Устанавливаем шрифт для текста */
    font-weight: 200; /* Устанавливаем нормальную толщину шрифта */
    color: var(--tg-theme-text-color); /* Цвет текста, используем переменную */
    background: var(--tg-theme-bg-color); /* Цвет фона, используем переменную */
}   

/* Стили для основного контейнера с ID 'main' */
#main {
    width: 100%; /* Ширина контейнера на всю ширину экрана */
    padding: 20px; /* Внутренний отступ контейнера */
    text-align: center; /* Выравнивание содержимого по центру */
}

/* Стили для заголовка первого уровня */
h1 {
    margin-top: 50px; /* Верхний отступ заголовка */
    margin-bottom: 10px; /* Нижний отступ заголовка */
}

/* Стили для изображений */
img {
    width: 70px; /* Ширина изображений */
    margin: 30px auto; /* Внешние отступы для центрирования изображений */
}

/* Стили для параграфов */
p {
    width: 350px; /* Ширина параграфов */
    margin: 0 auto; /* Центрирование параграфов */
}

/* Стили для кнопок */
button {
    border: 0; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругляем углы кнопки */
    margin-top: 50px; /* Верхний отступ кнопки */
    height: 60px; /* Высота кнопки */
    width: 200px; /* Ширина кнопки */
    font-size: 20px; /* Размер шрифта кнопки */
    cursor: pointer; /* Задаем курсор при наведении на кнопку */
    transition: all 500ms ease; /* Плавное изменение свойств при наведении */
    color: var(--tg-theme-button-color); /* Цвет текста кнопки, используем переменную */
    background: var(--tg-theme-button-text-color); /* Цвет фона кнопки, используем переменную */
}

/* Стили при наведении на кнопку */
button:hover {
    background: var(--tg-theme-button-text-color); /* Изменяем фон кнопки */
}

/* Стили для формы */
#form {
    display: none; /* Скрываем форму изначально */
    text-align: center; /* Выравниваем содержимое по центру */
}

/* Стили для текстовых полей */
input {
    width: 90%; /* Ширина текстовых полей */
    outline: none; /* Убираем контур фокуса */
    margin: 10px 5%; /* Внешние отступы сверху и снизу, слева и справа */
    padding: 15px 10px; /* Внутренние отступы */
    font-size: 14px; /* Размер шрифта */
    border: 2px solid silver; /* Граница */
    border-radius: 5px; /* Закругленные углы */
}

/* Стили при фокусировке на текстовых полях */
input:focus {
    border-color: #db5d5d; /* Цвет границы при фокусировке */
}
